<launch>
  <master auto="start"/>

  <!-- Run the map server -->
<!-- <node name="map_server" pkg="map_server" type="map_server" args="$(find p3dx_description)/launch/map.yaml my_map" output="screen"/>   -->

  <!--- Run AMCL -->

  <include file="$(find amcl)/examples/amcl_omni.launch" />
 <!-- <include file="$(find erratic_navigation)/navigation_slam/slam_gmapping.launch" /> -->

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find metu_description)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find metu_description)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find metu_description)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find metu_description)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find metu_description)/config/base_local_planner_params.yaml" command="load" />
  </node>
</launch>
